/* ./styles/globals.css */

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme="dark"] {
    --background: black;
    --foreground: white;
}

@import "tailwindcss/base";
@import "tailwindcss/components";

/* @layer components {
    .btn {
        @apply px-4 py-2 border rounded-full cursor-pointer hover: shadow-lg active: scale-95 active: bg-red-400 active: text-black active: font-semibold transition transform duration-100 ease-out;
    }
} */

@import "tailwindcss/utilities";
@import "tailwindcss/screens";